@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom styles below this line */
.panel {
  display: none;
}

.panel.active {
  display: block;
}

font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter-Regular"),
    url("public/fonts/ttf/Inter-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local("Inter-Bold"), url("public/fonts/ttf/Inter-Bold.ttf") format("ttf");
}
