@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom styles below this line */
.panel {
  display: none;
}

.panel.active {
  display: block;
}

@font-face {
  font-family: "Inter";
  src: url("public/fonts/ttf/Inter-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
